* {
  box-sizing: border-box;
}

#biobox {
  border: 2px solid white;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
  text-align: left;
  width: 50%;
  padding: 30px;
  padding-bottom: 343px;
}

#bottom {
  position: relative;
  top: 50px;
}

#date {
  font-style: italic;
  padding-bottom: 50px;
}

#domain {
  border-right: 1.5px solid whitesmoke;
  background-color: #0B0B61;
  flex: 1;
  font-size: 18px;
  left: 0px;
  line-height: 1;
  padding: 10px;
  padding-bottom: 12px;
  position: absolute;
  top: 0px;
  width: 200px;
}

#homeTitle {
  bottom: 5px;
  color: #E0E6F8;
  position: relative;
}

#link {
  border: 4px solid #0B0B61;
  border-radius: 25px;
  box-sizing: border-box;
  background-image: url("galaxy.jpg");
  background-position: -1060px 392px;
  background-size: 680px;
  float: left;
  max-width: 50%;
  padding: 32px 10px;
  position: relative;
  right: 15%;
}

#linkone {
  box-sizing: border-box;
  background-image: url("galaxy.jpg");
  background-position: 984px 666px;
  background-size: 680px;
  border: 4px solid #0B0B61;
  border-radius: 25px;
  left: 15%;
  float: right;
  max-width: 50%;
  margin-bottom: 0px;
  padding: 32px 10px;
  position: relative;
}

#projects {
  bottom: 40px;
}

.aboutMeHeadingPosition {
  bottom: 16px;
  position: relative;
}

.aboutMeHomepageDescription {
  font-size: 18px;
  line-height: 24px;
}

.aboutTitle {
  background: linear-gradient(to right, black 14%, white 100%);
  box-sizing: border-box;
  border: 1px solid darkblue;
  display: inline-block;
  height: 41.6px;
}

.backgroundImgGalaxyIntro {
  background-image: url("galaxy.jpg");
  background-position: -20px -720px;
  background-size: 1075px;
  border-radius: 20px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.bio {
  border: 1.25px solid darkblue;
  border-radius: 10px;
  display: block;
  margin-left: 21%;
  padding-bottom: :20px;
  padding: 20px;
  position: relative;
  width: 50%;
}

.click {
  color: white;
  text-decoration: none;
}

.colorChangeOnHover a:hover h2 {
  color: rgb(37, 255, 85);
}

.container {
  background-image: 
}

.contentOfIntroTextMainBody {
  margin: 20px 20px 24px;
  position: relative;
  top: 10px;
}

.currentDate {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 8%;
}

.homepage {
  bottom: 50px;
  color: red;
}

.homepagetitle {
  left: -100px;
  position: relative;
}

.homepageNavMenu:before,
.hompageNavMenu:after {
  context: "";
  display: table;
}

.homepageNavMenu:after {
  clear: both;
}

.homepageNavMenu {
  clear: both;
} 
  

.innerbox {
  border: 2px solid white;
  position: relative;
  top: 30px;
}

.intro {
  border: 3px solid #0B0B61;
  border-radius: 25px;
  box-sizing: border-box;
  height: 200px;
  margin: 0 auto;
  padding: 15px 30px;
  position: relative;
  width: 100%;

}

.introTextHeaderPosition {
  position: relative;
  top: 20px;
}

.introTextMainBody {
  left: 0;
  position: absolute;
  top: 0;
}

.left {
  float: left;
  border: 2px solid white;
  border-radius: 25px;
  width: 98%;
}

.links {
  padding: 5px 3px;
  margin-left: 12cm;
  margin-right: 12cm;
  margin-top: 80px;
  margin-bottom: 300px;
}

.list {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 43px;
  box-sizing: border-box; 
}

.listOfProjectsContainer {
  border: 1px solid #0B0B61;
  border-radius: 20px;
  box-shadow: 3px 3px 1em #0B0B61;
  height: 65%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  top: 20%;
  width: 75%;
}

.listOfProjects {
  border: 1.5px solid white;
  border-radius: 20px;
  height: 100%;
  margin: 0 auto;
  padding-top: 11%;
  width: 75%;
}

.mainContent {
  overflow-y: auto;
}

.menu {
  margin-top: 10px;
}

.myProjectsHeadingPosition {
  bottom: 20px;
  position: relative;
}

.myProjectsHomepageDescription {
  font-size: 18px;
  line-height: 24px;
}

.navbar {
  height: 100%;
  width: 13%;
  position: absolute;
  left: 0;
  top: 0;
}

.projectItem {
  margin: 0 auto;
  width: 200px;
}

.projectTitle {
  left: 0;
  position: relative;
  top: 0;
}

.title {
  background: linear-gradient(to right, black 14%, white 100%);
  border-bottom: 1.25px solid whitesmoke;
  display: inline-block;
  height: 41.6px;
  margin: 0;
}

.topNavBar {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.zigZagAbout {
  left: 75px;
  position: relative;
  top: 2px;
}

.zigZagProjects {
  left: 65px;
  position: relative;
  top: 0;
}

a:visited {
  color: #58FAD0;
}

body {
  color: white;
  background-blend-mode: luminosity;
  background-image: linear-gradient(to right, black 0%, white 100%), url("https://www.calvin.edu/academic/rit/webBook/chapter5/easy/images/it.gif");
  font: 200 small-caps 16px/24px "Titillium Web", Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 20px;  
}

button {
  align-self: center;
  height: 25px;
  position: relative;
  top: 5px;

}

footer {
  align-content: flex-start;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 42px;
}

header {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
}

html {
  height: 100%;
}

h1 {;
  font-size: 32px;
  line-height: 40px;
  padding: 3px 3px;
  text-shadow: 2px 4px 10px #E0ECF8;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

li {
  display: list-item;
}

p {
  padding: 5px 5px 3px 5px;
  text-align: center;
}

strong {
  font-weight: 500;  
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
