/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

#biobox {
  border: 2px solid white;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
  text-align: left;
  width: 50%;
  padding: 30px;
  padding-bottom: 343px;
}

#bottom {
  position: relative;
  top: 50px;
}

#date {
  font-style: italic;
  padding-bottom: 50px;
}

#domain {
  border: 1.5px solid white;
  background-color: #0B0B61;
  box-sizing: border-box;
  border-width: 1px;
  display: inline-block;
  left: 0px;
  padding: 13px;
  position: absolute;
  top: 0px;
  width: 200px;

}

#link {
  background: radial-gradient(circle, #0080FF, #BDBDBD);
  border: 4px solid #0B0B61;
  border-radius: 25px;
  left: -50px;
  max-width: 276px;
  padding: 40px 10px;
  position: relative;
  background-image: url("galaxy.jpg");
  background-position: -504px -210px;
}

#linkone {
  background: radial-gradient(circle, #0080FF, #BDBDBD);
  background-image: url("galaxy.jpg");
  background-position: 896px 653px;
  background-size: 500px;
  border: 4px solid #0B0B61;
  border-radius: 25px;
  bottom: 178px;
  height: 90px;
  left: 50px;
  max-width: 300px;
  margin-left: 300px;
  margin-bottom: 0px;
  padding: 40px 10px;
  position: relative;
}

#projects {
  bottom: 40px;
}

.bio {
  border: 1.25px solid darkblue;
  border-radius: 10px;
  display: block;
  margin-left: 21%;
  padding-bottom: :20px;
  padding: 20px;
  position: relative;
  width: 50%;
}

.click {
  color: white;
}

.container {
  padding: 15px 5px 1px 5px;
}

.content {                /*this is supposed to wrap around the intro and section text*/
  border: 3px solid black;
}

.homepage {
  bottom: 50px;
  color: red;
}

.innerbox {
  border: 2px solid white;
  position: relative;
  top: 30px;
}

.intro {
  border: 3px solid #0B0B61;
  border-radius: 25px;
  padding: 10px;
}

.left {
  float: left;
  border: 2px solid white;
  border-radius: 25px;
  width: 98%;
}

.links {
  padding: 5px 3px;
  margin-left: 12cm;
  margin-right: 12cm;
  margin-top: 80px;
  margin-bottom: 300px;
}

.list {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 43px;
  box-sizing: border-box; 
}

.navbar {
  height: 100%;
  width: 13%;
  position: absolute;
  left: 0;
  top: 0;
}

a:visited {
  color: #58FAD0;
  text-decoration: none;
}

body {
  background-blend-mode: luminosity;
  background-image: linear-gradient(to right, black 0%, white 100%), url("https://www.calvin.edu/academic/rit/webBook/chapter5/easy/images/it.gif");
  height: 100%;
  line-height: 1;
  font-family: Courier New;
  color: white;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
}

html {
  height: 100%;
}

h1 {
  font-size: 32px;
  padding: 3px 3px;
  font-family: Courier New;
  text-shadow: 2px 4px 10px #E0ECF8;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

h4 {
  font-size: 14px;
  padding: 2px;
  te
}

h5 {
  font-size: 12px;
}

li {
  bottom: 40px;
  display: list-item;
  text-align: center;
  width: 200px;
}

ol, ul {
  list-style: none;
}

p {
  padding: 3px 5px;
  text-align: center;
}

strong {
  color: #E0E6F8;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
